/*================================================================
Typography
===============================================================*/
html{
	color: purple;
}

a{
	color: red;
}

/*================================================================
Hearder Component
===============================================================*/
header{
	background-color: purple;
	padding: 2rem;
}

/*================================================================
Footer Component
===============================================================*/
footer{
	background-color: yellow;
	padding: 2rem;
}