@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Rajdhani:400&display=swap');
/*================================================================
Colors
===============================================================*/
html{
	--color-blue: #83d8f2;
	--color-blue-light: #b7ffff;
	--color-blue-dark: #4ea6bf;
	--color-grey: #a0b3d1;
	--color-grey-light: #d2e5ff;
	--color-grey-dark: #7184a0;
	--color-mazarine: #313e5c;
	--color-mazarine-light: #5c6889;
	--color-mazarine-dark: #051832;
	--color-primary: #000000;
	--color-secondary: #2c2c2c;
	--color_teriary: #555555;
}
/*================================================================
Typography
===============================================================*/
html{
	color: var(--color-primary);
	--font-primary: 'Rajdhani', serif, sans-serif;
	--font-links:'Major Mono Display', monospace, sans-serif;
	font-family: var(--font-primary);

	--size-ratio: 1.18;
	--size-one-down: calc( 1rem / var(--size-ratio) );
	--size-five-up: calc( var(--size-four-up)* var(--size-ratio) );
	--size-four-up: calc( var(--size-three-up) * var(--size-ratio) );
	--size-three-up: calc( var(--size-two-up) * var(--size-ratio) );
	--size-two-up: calc( var(--size-one-up) * var(--size-ratio) );
	--size-one-up: calc( 1rem * var(--size-ratio) );
}

@media(min-width: 800px){
	html {
		--size-ratio: 1.28;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-links);
	margin: 3rem 3rem 3rem 0;
}

h1 {
	font-size: var(--size-five-up);
}
h2 {
	font-size: var(--size-four-up);
}
h3 {
	font-size: var(--size-three-up)
}
h4 {
	font-size: var(--size-two-up)
}
h5 {
	font-size: var(--size-one-up)
}
h6 { 
	font-size: var(--size-one-down)
}

a {
	color: var(--color-mazarine-dark);
	font-family: var(--font-links);
	text-decoration: none;
}
ul {
	padding: 0rem;
}
main {
	font-size: var(--size-two-up);
}
/*================================================================
Style Component
===============================================================*/
.color-swatch {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.font-style1 {
	font-family: var(--font-primary);
	font-size: var(--size-three-up);
	padding: 2rem;
}
.font-style2 {
	font-family: var(--font-links);
	font-size: var(--size-two-up);
	padding: 2rem;
}
.typography {
	padding: 2rem;
}
.h1size {
	font-size: var(--size-five-up);
	font-family: var(--font-links);
}
.h2size{
	font-size: var(--size-four-up);
	font-family: var(--font-links);
}
.h3size{
	font-size: var(--size-three-up);
	font-family: var(--font-links);
}
.h4size{
	font-size: var(--size-two-up);
	font-family: var(--font-links);
}
.h5size{
	font-size: var(--size-one-up);
	font-family: var(--font-links);
}
.h6size{
	font-size: var(--size-one-down);
	font-family: var(--font-links);
}
.center-content{
	text-align:center;
}
.text-sizd1, .text-size2, .text-size3{
	border: 1px solid black;
	padding: 2rem;
}
.text-size1{
	font-size: var(--size-three-up);
}
.text-size2{
	font-size: var(--size-two-up);
}
.text-size3{
	font-size: var(--size-one-up);
}
/*lists*/
.ul-eg{
	list-style: square;
	list-style-position: inside;
}
.ol-eg{
	list-style: upper-roman;
	list-style-position: inside;

}
.list-eg{
	border: 1px solid black;
	padding: 2rem;
	font-size: var(--size-one-up);
}
/*================================================================
Link Button Component
===============================================================*/
.text-under-button, .button-example{
	display: flex;
	justify-content: center;
}
/*primary button*/
.button-hero-left, .button-hero-middle, .button-hero-right{
	font-family: var(--font-primary);
	font-size: var(--size-four-up);
	border: 2px solid var(--color-mazarine);
	border-radius: .5rem;
	padding: .8rem 1rem;
	margin: 0 .8rem ;
}
.button-hero-left, .button-default-left{
	background-color: var(--color-mazarine-dark);
	color: var(--color-blue);
}
.button-hero-middle, .button-default-middle{
	background-color: var(--color-blue-light);
	color: var(--color-mazarine);
}
.button-hero-left:hover, .button-default-left:hover, .button-tertiary-left:hover{
	box-shadow: 1px 1px 0px #000;

}

/*default button*/
.button-default-left, .button-default-middle, .button-default-right{
	font-family: var(--font-primary);
	font-size: var(--size-two-up);
	border: 1px solid var(--color-mazarine);
	padding: .8rem 1rem;
	margin: 0 .8rem ;
}
/*teritary button*/
.button-tertiary-left, .button-tertiary-middle, .button-tertiary-right{
	font-family: var(--font-primary);
	font-size: var(--size-two-up);
	border: 1px solid var(--color-mazarine);
	padding: .8rem 1rem;
	margin: 0 .8rem ;
}

/*================================================================
Header Component
===============================================================*/
header {
	background-color: var(--color-blue);
	padding: 2rem;
}
.logo {
	font-size: var(--size-five-up);
}
.menu {
	margin: 1rem;
	list-style: none;
}
.menu a {
	font-size: var(--size-three-up)
}

/*================================================================
Body Component
===============================================================*/
main {
	padding: 2rem;
}
body {
	margin: auto;
	max-width: 56rem;
}

	
/*================================================================
Footer Component
===============================================================*/
footer {
	background-color: var(--color-grey-light);
	padding: 2rem;
}